@use "../abstracts/variables";
@use "../abstracts/mixin";

.button {
    display: inline-flex;
    padding: 11px 13px 12px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: variables.$red;
    color: variables.$white;
    font-family: "Montserrat";
    font-size: 14px;
}