@use "../abstracts/variables";


.main {
    .big-box {

        // menu
        .menu {
            width: 925px;
            margin-top: 50px;

            .menu-title {
                margin-bottom: 26px;
                display: flex;
                align-items: center;

                img {
                    margin-right: 4px;
                }

                a {
                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }

        // form 
        .form_boxes {
            margin-bottom: 48px;

            .form-title {
                a {
                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 32px;
                    font-weight: 600;
                    padding-bottom: 32px;
                    display: flex;
                }
            }

            .bg-box {
                padding: 32px;
                border-radius: 15px;
                background: variables.$grey-two;

                h4 {
                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 600;
                }

                .two-boxes {
                    margin: 24px 0 32px 0;

                    .box {
                        padding: 8px 24px;

                        h5 {
                            color: variables.$black;
                            font-family: "Montserrat";
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 4px;
                        }
                    }

                    .one-b {
                        border-radius: 15px;
                        background: variables.$white;
                    }
                }

                .location-box {
                    margin-bottom: 16px;
                    align-items: center;

                    p {
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: 8px;
                        margin-right: 4px;
                    }
                }

                .form {
                    .inputs {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                        gap: 0 20px;

                        input {
                            border: transparent;
                            padding: 11px 98px 12px 14px;
                            border-radius: 15px;
                            background: variables.$white;

                            color: #8B8B8B;
                            font-family: "Montserrat";
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    .m-t {
                        margin-top: 16px;
                    }

                    .input {
                        margin-top: 16px;
                        width: 100%;
                        border: transparent;
                        padding: 11px 98px 12px 14px;
                        border-radius: 15px;
                        background: variables.$white;
                        margin-right: 18px;

                        color: #8B8B8B;
                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                h3 {
                    margin-top: 40px;
                    margin-bottom: 24px;
                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .bg-box_two {
                margin-top: 32px;

                .bg-box-title {
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    p {
                        color: #979797;
                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .food_box {
                    margin-bottom: 24px;
                    border-radius: 15px;
                    padding: 12px 0px 12px 48px;
                    background-color: variables.$white;
                    width: 220px;

                    h4 {
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .position-absolute {
                        top: 8px;
                        left: 16px;
                    }

                }

                .order-boxes {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .order-box_one {
                        display: flex;

                        img {
                            width: 100px;
                            height: 99px;
                        }

                        .box_one-texts {
                            margin-left: 16px;

                            h4 {
                                width: 154px;
                                color: variables.$qora;
                                font-family: "Montserrat";
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 135.9%;
                            }

                            p {
                                margin-top: 4px;
                                width: 188px;
                                color: variables.$qora;
                                font-family: "Montserrat";
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 132.4%;
                            }
                        }
                    }

                    .order-box_two {
                        border-radius: 15px;
                        background: variables.$white;
                        display: flex;
                        padding: 10px 12px;
                        justify-content: center;
                        align-items: center;

                        p {
                            margin: 0 29px;
                            color: variables.$qora;
                            font-family: 'Montserrat';
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }

                    .order-box_three {
                        del {
                            padding-left: 30px;
                            color: #ABABAB;
                            font-family: 'Montserrat';
                            font-size: 12px;
                            font-weight: 500;
                        }

                        h4 {
                            color: variables.$qora;
                            font-family: "Montserrat";
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }

                }

                .m-b {
                    margin-bottom: 24px;
                }
            }
        }
    }

    .big-box-two {
        width: 820px;
    }

    // backet
    .basket {
        width: 295px;
        height: 612px;
        padding: 16px;
        margin-top: 98px;
        margin-left: 20px;
        border-radius: 15px 15px 0px 0px;
        background: variables.$grey-two;

        .basket-title {
            h4 {
                color: variables.$black;
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 600;
            }
        }

        .img-text_box {
            margin-top: 103px;
            text-align: center;

            h5 {
                color: variables.$black;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 600;
                margin-top: 16px;
            }
        }

        .bottom-box {
            margin-top: 194px;
            padding-top: 12px;
            border-top: 0.5px solid #BEBEBE;
            display: flex;
            align-items: center;

            .car-img {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 5px;
                background: #FFC11E;
            }

            .bottom-box_texts {
                margin-left: 8px;

                h5 {
                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 13px;
                    font-weight: 400;
                }

                p {
                    color: #BEBEBE;
                    font-family: "Montserrat";
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 117.4%;
                }
            }

            .i-img {
                margin-left: 21px;
            }
        }
    }

    // backet-two 
    .basket-two {
        width: 400px;
        height: 574px;
        margin-left: 20px;
        margin-top: 160px;
        padding: 32px;
        background: variables.$grey-two;
        border-radius: 15px;

        .basket-title {
            h4 {
                margin-bottom: 31px;
                color: variables.$black;
                font-family: "Montserrat";
                font-size: 24px;
                font-weight: 600;
            }
        }

        .backet-body {
            .top-box {
                align-items: center;
                justify-content: space-between;
                border-bottom: 0.5px solid #BEBEBE;
                padding-bottom: 24px;
                margin-bottom: 24px;

                .d-flex {
                    align-items: center;

                    h4 {
                        margin-left: 8px;
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .change-btn {
                    padding: 8px 16px;
                    border-radius: 15px;
                    background: variables.$white;

                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .total {
                border-bottom: 0.5px solid #BEBEBE;
                padding-bottom: 8px;

                h4 {
                    color: variables.$black;
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-weight: 600;
                }

                .d-flex {
                    margin: 16px 0;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }

            .promo_code-box {
                border-bottom: 0.5px solid #BEBEBE;
                padding-bottom: 24px;
                margin-top: 24px;

                h4 {
                    color: #A1A1A1;
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: 500;
                }

                .d-flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 14px;

                    p {
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .on-off {
                        width: 46px;
                        height: 24px;
                        background: #BCBCBC;
                        border-radius: 15px;

                        .round {
                            margin: 4px;
                            border-radius: 50%;
                            width: 18px;
                            height: 16px;
                            background: variables.$white;
                        }

                        &:focus .round {
                            transform: translateX(20px);
                        }
                    }
                }
            }

            .bottom-box {
                .bottom-texts {
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;
                    margin-bottom: 32px;

                    h4 {
                        margin: 0;
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .d-flex {
                    align-items: center;
                    justify-content: space-between;

                    a {
                        padding: 11px 59px 12px 60px;
                    }

                    h4 {
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    // domino's pizza
    .domino-pizza {
        padding-top: 60px;
        padding-left: 23px;
        margin-top: 24px;
        background-image: url(../../images/domino-bg.png);
        background-repeat: no-repeat;
        border-radius: 15px;
        padding-bottom: 32px;

        a {
            color: variables.$white;
            font-family: "Montserrat";
            font-size: 36px;
            font-weight: 900;
        }

        .domino-pizza-boxes {
            margin-top: 18px;
            align-items: center;

            .yellow-box {
                padding: 12px;
                border-radius: 15px;
                background: #FFC11E;
            }

            .green-box {
                margin: 0 24px;
                padding: 12px 13px 12px 12px;
                border-radius: 15px;
                background: #00AE63;
            }

            .red-box {
                padding: 14px 12px 13px 12px;
                border-radius: 15px;
                background: #FF4C34;
            }

            .box_ {
                display: flex;
                align-items: center;

                .box-texts {
                    margin-left: 7px;

                    h5 {
                        color: variables.$white;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 136.9%;
                    }

                    p {
                        color: variables.$white;
                        font-family: "Montserrat";
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 136.9%;
                    }
                }
            }
        }
    }

    // food-menu
    .food-menu {
        .food-menu-title {
            h4 {
                margin-bottom: 24px;
                color: variables.$black;
                font-family: "Montserrat";
                font-size: 28px;
                font-weight: 600;
            }
        }

        .food-menu_boxes {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 0 15px;

            .food-menu_box {
                width: 220px;
                padding: 16px 17px 12px 16px;
                border-radius: 15px;
                background: variables.$grey-two;

                .food-img_box {
                    margin-bottom: 5px;

                    .d-flex {
                        align-items: center;
                        padding: 4px 6px;
                        border-radius: 15px;

                        p {
                            margin-left: 6px;
                            color: variables.$white;
                            font-family: "Montserrat";
                            font-size: 9px;
                            font-weight: 600;
                        }
                    }

                    .green {
                        top: 0;
                        background: variables.$green;
                    }

                    .kuk-quti {
                        top: 0;
                        background: #3A95FF;
                    }

                    .blue {
                        top: 26px;
                        background: #3A95FF;
                    }

                    .pushti {
                        bottom: 0;
                        right: 0;
                        border-radius: 15px;
                        background: #FF629A;
                    }
                }

                .food-texts_box {
                    .d-flex {
                        h4 {
                            color: variables.$red;
                            font-family: "Montserrat";
                            font-size: 16px;
                            font-weight: 600;
                        }

                        del {
                            color: #ABABAB;
                            font-family: "Montserrat";
                            font-size: 12px;
                            font-weight: 500;
                            margin-left: 4px;
                        }
                    }

                    p {
                        margin-top: 8px;
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 13px;
                        font-weight: 400;
                        width: 158px;
                        margin-bottom: 16px;
                    }

                    .btn-box {
                        text-align: center;

                        .button {
                            padding: 8px 60px 7px 61px;
                        }
                    }
                }
            }
        }

        .m-t {
            margin-top: 20px;
        }
    }

    .m-t2 {
        margin-top: 40px;
    }

    // my-order
    .my_order {
        .my_order-title {
            margin-top: 54px;
            margin-bottom: 32px;

            h4 {
                color: variables.$black;
                font-family: "Montserrat";
                font-size: 32px;
                font-weight: 600;
            }
        }

        .all-active_boxes {
            align-items: center;
            margin-bottom: 24px;

            .button {
                padding: 8px 16px;
            }

            h5 {
                margin-left: 23px;
                color: variables.$black;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .order_dates-boxes {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 0px 20px;
            .order_dates-box {
                padding: 24px;
                width: 400px;
                height: 345px;
                border-radius: 15px;
                background: variables.$grey-two;

                .order_dates {
                    h5 {
                        color: variables.$black;
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 24px;
                    }
                }

                .d-flex {
                    .texts {
                        margin-right: 9px;

                        h5 {
                            color: variables.$black;
                            font-family: "Montserrat";
                            font-size: 18px;
                            font-weight: 600;
                        }

                        h4 {
                            color: variables.$green;
                            font-family: "Montserrat";
                            font-size: 18px;
                            font-weight: 400;
                            margin-top: 5px;
                        }
                    }

                    // accordion
                    .accordion {
                        .accordion-item {
                            border: transparent;
                            background: variables.$grey-two;

                            .accordion-header {
                                .accordion-button {
                                    padding: 8px 16px;
                                    border-radius: 15px;
                                    background: variables.$green;

                                    color: variables.$white;
                                    font-family: "Montserrat";
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    margin-left: 10px;
                                    line-height: normal;

                                    &:focus {
                                        display: none;
                                    }
                                }

                                .accordion-button_two {
                                    background-color: #898989;
                                }
                            }

                            .accordion-body {
                                margin-left: 24px;
                                padding: 0;
                                left: -10px;

                                .two-boxes {
                                    padding: 0;
                                    align-items: center;

                                    .texts-box {
                                        align-items: center;

                                        .texts {

                                            h4 {
                                                width: 100px;
                                                color: variables.$qora;
                                                font-family: "Montserrat";
                                                font-size: 12px;
                                                font-weight: 400;
                                            }

                                            h5 {
                                                width: 125px;
                                                color: variables.$qora;
                                                font-family: "Montserrat";
                                                font-size: 10px;
                                                font-weight: 400;
                                            }

                                            .d-flex {
                                                margin-top: 2px;
                                                margin-left: 14px;
                                                h3 {
                                                    color: variables.$qora;
                                                    font-family: "Montserrat";
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                }

                                                del {
                                                    color: #ABABAB;
                                                    font-family: "Montserrat";
                                                    font-size: 12px;
                                                    font-weight: 500;
                                                }
                                            }
                                        }

                                        .w-box {
                                            display: flex;
                                            width: 67px;
                                            padding: 5px 0px;
                                            justify-content: center;
                                            align-items: center;
                                            border-radius: 15px;
                                            background: variables.$white;

                                            color: variables.$qora;
                                            font-family: "Montserrat";
                                            font-size: 10px;
                                            font-weight: 400;
                                        }
                                    }
                                }

                                .two-boxes_border {
                                    border-bottom: 0.5px solid #BEBEBE;
                                    padding-bottom: 16px;
                                }

                                h4 {
                                    margin-top: 24px;
                                    margin-left: 14px;
                                    color: variables.$black;
                                    font-family: "Montserrat";
                                    font-size: 18px;
                                    font-weight: 600;
                                }

                                h5 {
                                    margin-left: 14px;
                                    color: variables.$black;
                                    font-family: "Montserrat";
                                    font-size: 18px;
                                    font-weight: 400;
                                }


                                .accordion-two {
                                    .accordion-item {
                                        .accordion-header {
                                            .accordion-button {
                                                margin-top: 24px;
                                                background: transparent;
                                                color: variables.$qora;
                                                font-family: "Montserrat";
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 135.9%;
                                                width: 160px;

                                                &:focus {
                                                    display: none;
                                                }
                                            }

                                        }

                                        .accordion-collapse {
                                            .accordion-body {
                                                h2 {
                                                    margin-left: 2px;
                                                    color: variables.$black;
                                                    font-family: "Montserrat";
                                                    font-size: 32px;
                                                    font-weight: 600;
                                                }

                                                .d-flex {
                                                    p {
                                                        margin-top: 24px;
                                                        margin-right: 32px;
                                                        width: 125px;
                                                        margin-left: 2px;
                                                        color: variables.$qora;
                                                        font-family: "Montserrat";
                                                        font-size: 14px;
                                                        font-weight: 600;
                                                        line-height: 135.9%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .accordion-two {
                            position: relative;
                        }
                    }
                }
            }

            .order_dates-box-two {
                height: 556px;
            }
        }
    }
}

// modal section

.modal {
    .modal-dialog {
        max-width: 1002px;
        width: 100%;

        .modal-top {
            padding: 16px;
            text-align: end;
        }

        .modal-content {

            .modal-body {
                .big-img {
                    img {
                        margin-bottom: 20px;
                    }
                }

                .modal-body_texts {
                    margin-left: 15px;

                    .title {
                        margin-bottom: 12px;

                        h4 {
                            color: variables.$black;
                            font-family: "Montserrat";
                            font-size: 24px;
                            font-weight: 600;
                            margin-bottom: 4px;
                        }

                        p {
                            color: variables.$black;
                            font-family: "Montserrat";
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 132.9%;
                        }
                    }

                    .modal-tabs {
                        .tabs-title {
                            h4 {
                                color: variables.$black;
                                font-family: "Montserrat";
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 132.9%;
                                margin-bottom: 4px;
                            }
                        }

                        .nav {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            border-radius: 15px;
                            background: variables.$grey-two;
                            padding: 5px 16px 4px 12px;

                            .nav-link {
                                width: 100%;
                                padding: 6px 17px;
                                border-radius: 15px;
                                color: variables.$black;
                                font-family: "Montserrat";
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 132.9%;


                                &:focus {
                                    background: variables.$white;
                                }

                                &:active {
                                    background: variables.$white;
                                }

                            }
                        }

                        .tab-content {
                            .tab-pane {
                                .pane-title {
                                    h4 {
                                        color: variables.$black;
                                        font-family: "Montserrat";
                                        font-size: 15px;
                                        font-weight: 400;
                                        line-height: 132.9%;
                                    }
                                }

                                .tab-pane_wrapper {
                                    padding: 11px 12px;
                                    border-radius: 15px;
                                    background: variables.$grey-two;

                                    .tab-pane_boxes {
                                        margin-top: 8px;

                                        .tab-pane_box {
                                            text-align: center;
                                            width: 160px;
                                            margin-left: 9px;
                                            padding: 14px 24px 13px 24px;
                                            border-radius: 15px;
                                            background: variables.$white;

                                            h5 {
                                                color: variables.$black;
                                                font-family: "Montserrat";
                                                font-size: 12px;
                                                font-weight: 400;
                                                line-height: 132.9%;
                                            }

                                            .h5 {
                                                width: 160px;
                                                padding-right: 40px;
                                            }

                                            .d-flex {
                                                margin-top: 8px;
                                                align-items: center;

                                                h5 {
                                                    margin: 0 17px;
                                                    color: variables.$qora;
                                                    font-family: "Montserrat";
                                                    font-size: 10px;
                                                    font-weight: 400;
                                                }

                                                h3 {
                                                    color: variables.$black;
                                                    font-family: "Montserrat";
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    line-height: 132.9%;
                                                    margin-left: 24px;
                                                }

                                                h4 {
                                                    color: variables.$black;
                                                    font-family: "Montserrat";
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    line-height: 132.9%;
                                                    margin-left: 44px;
                                                }
                                            }
                                        }

                                        .active:active {
                                            background: variables.$white;

                                        }

                                        .m_t {
                                            padding-top: 24px;
                                        }

                                        .bordr {
                                            border: 1px solid variables.$red;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }

            .modal-bottom-boxes {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 32px;

                .modal-bottom_texts {
                    margin-bottom: 12px;

                    h2 {
                        color: variables.$red;
                        font-family: "Montserrat";
                        font-size: 24px;
                        font-weight: 600;
                    }

                    del {
                        color: #ABABAB;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .buttons {
                    .button {
                        padding: 12px 32px;
                        margin-right: 15px;
                    }

                    .btn2 {
                        align-items: center;
                        padding: 12px;
                        border-radius: 15px;
                        border: 1px solid variables.$red;

                        h4 {
                            margin: 0 40px;
                            color: variables.$black;
                            font-family: "Montserrat";
                            font-size: 15px;
                            font-weight: 500;
                        }

                        img {}
                    }
                }
            }
        }
    }
}